/* Left section (song list) */
.left-section {
  width: 100%;
  padding: 20px;
  transition: width 0.3s ease;
}

.upload-button {
  padding: 10px;
  margin: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.upload-button:hover {
  background-color: #0056b3;
}

.song-list {
  width: 100%;
  padding-top: 50px;
}

.left-section.with-player {
  width: 50%;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
  cursor: pointer;
}

.app-container {
  height: 100vh;
  overflow-y: auto; /* Enable scroll when content exceeds height */
}

/* Song title */

/* Right section (player) */
.right-section {
  width: 50%;
  height: 100%;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  overflow: hidden; /* Allows for scrolling inside this section if content exceeds */
}

/* For smaller screens */
@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
  }

  .left-section,
  .right-section {
    width: 100%;
  }
}
