/* Left section (song list) */
.left-section {
  width: 100%;
  padding: 20px;
  transition: width 0.3s ease;
}

.upload-button {
  background-image: linear-gradient(
    to right,
    #34e89e 0%,
    #0f3443 51%,
    #34e89e 100%
  );
}
.upload-button {
  margin: 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  border: none;
  padding: 15px 25px;
  float: left;
  display: block;
  cursor: pointer;
}

.action-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px; /* Spacing between buttons and typeahead */
  margin-bottom: 20px; /* Space below the action bar */
}

.upload-button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.song-list {
  width: 100%;
  padding-top: 50px;
}

.left-section.with-player {
  width: 50%;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
  cursor: pointer;
}

.app-container {
  height: 100vh;
  overflow-y: auto; /* Enable scroll when content exceeds height */
}

/* Song title */

/* Right section (player) */
.right-section {
  width: 50%;
  height: 100%;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  overflow: hidden; /* Allows for scrolling inside this section if content exceeds */
}

/* For smaller screens */
@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
  }

  .left-section,
  .right-section {
    width: 100%;
  }
}
