/* Player Container */
.player-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f5f5f5;
  padding: 20px;
  width: 100%; /* Allow the player to occupy full width of its container */
  height: 100%; /* Make sure the player takes the full height of its container */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

/* Error Message */
.error-message {
  color: red;
  text-align: center;
  margin-bottom: 10px;
}

/* Cover Image */
.cover-container {
  margin-bottom: 20px;
  text-align: center;
}

.cover-image {
  width: 100%; /* Adjust width to be a percentage of the player width */
  max-width: 400px; /* You can set a max-width to prevent it from getting too large */
  height: 100%; /* Adjust height to make the image taller */
  object-fit: cover; /* Keeps the aspect ratio intact and covers the entire box */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Progress Bar */
.progress-bar-container {
  width: 100%;
  margin: 10px 0;
}

.progress-bar {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  height: 5px;
  background: linear-gradient(90deg, #ff6f61, #ffcc00);
  border-radius: 5px;
  cursor: pointer;
}

.progress-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #ff6f61;
  border-radius: 50%;
}

.progress-bar::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #ff6f61;
  border-radius: 50%;
}

.play-pause-btn-container {
  display: flex; /* Add flex to the container */
  justify-content: center; /* Horizontally center the button */
  align-items: center; /* Vertically center the button */
  margin-top: 20px; /* Adjust top margin as needed */
  height: 100%; /* Ensure the container takes full height */
}

.play-pause-btn {
  background-color: #ff6f61;
  border: none;
  color: white;
  font-size: 30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-pause-btn:hover {
  background-color: #ff4040;
}

.play-pause-btn:focus {
  outline: none;
}

/* When playing, change button color */
.play-pause-btn.playing {
  background-color: #28a745;
}

.play-pause-btn.playing:hover {
  background-color: #218838;
}
